.container {
  margin: 50px auto 0;
  width: 600px;
  clear: both;
}
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.nav {
  margin-top: 20px;
  background-color: #ff6600;
  height: 18px;  
}

#title {
  float: left;

}
#title a{
  text-decoration: none
}
#title h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: black;
}

#title *{
  display: inline-block;
}

.nav-login {
  height: 20px;
  font-size: 15px;
}

.navlist{
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
}
.navlist li {
  display: inline;
}
.navlist a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.main{
  padding: 0px 20px 20px 20px;
}


/* Post format */
.post-title{
  padding-bottom: 5px;
  font-size: 14px;

}
.post-title a {
  text-decoration: none;
  color: black;
}

.post-info{
  font-size: 12px;
  padding-bottom: 12px;
}

.post-info * {
  display: inline-block;
}



/*css post form slide out animation*/
#slideout {
  position: fixed;
  top: 40px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout_inner {
  position: fixed;
  top: 40px;
  left: -400px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout:hover {
  left: 400px;
}
#slideout:hover #slideout_inner {
  left: 0;
}
/*css post form slide out animation*/

/* Profile Styling */ 

.column-wrapper{
  width: inherit;
}

.column-wrapper ul {
  padding: 0;
  list-style: none;
}
.column-wrapper li{
  padding-bottom: 5px;
}
.column-wrapper a{
  text-decoration: none;
  color: blue;
}

.post-column{
  width: 50%;
  float: left;
}

.comment-column{
  width: 50%;
  float: left;
}

.truncate {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-email {
  color: #777;
}

/* new post */
.new-post{
  border-radius: 4px;
  padding: 10px 0 10px 0;
}

.new-post-form{
  margin: 0 auto;
}

.form-title{
  margin: 0 auto;
  display: block;
  width: 300px;
}

.form-body{
  margin: 10px auto;
  display: block;
  width: 300px;
}
.form-submit{
  margin: 0 auto;
  display: block;
}


/* comment styling below */
.comment {
  padding-left: 20px;
  font-size: 13px;
}

.comment a {
  color: gray;
}

